[submodule "buildSrc"]
	path = buildSrc
	url = git@github.com:FlyInWind1/fly-spring.git
	branch = buildSrc
[submodule "fly-common"]
	path = fly-spring/common-core
	url = git@github.com:FlyInWind1/fly-spring.git
	branch = common-core
[submodule "fly-feign"]
	path = fly-spring/common-feign
	url = git@github.com:FlyInWind1/fly-spring.git
	branch = common-feign
[submodule "fly-redis"]
	path = fly-spring/redis
	url = git@github.com:FlyInWind1/fly-spring.git
	branch = spring-redis
