<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fly.mall.modules.search.dao.ProductDao">
    <select id="getWithLimit" resultType="EsProduct">
        select p.id
             , p.name
             , p.brand_id
             , p.description
        from product p
            where deleted = false
        <if test="startId != null">
            and id > #{startId}
        </if>
        order by id
        <if test="batchSize != null">
            limit #{batchSize}
        </if>
    </select>
</mapper>